# these are some automatic labels for the previous and next buttons
labels:
    next: "Volgende &gt;"
    prev: "&lt; Vorige"

# this is the content type that the photos in the albums use
# the relation should point to the albums
# the order is a order by fieldname
# and the direction is the sortorder for that field
photos:
    order: weight
    direction: ASC
    relation: albums

# this is the content type for the albums
# the relation should point to the photos
# the order is not really used
albums:
    order: weight
    direction: ASC
    relation: photos
